:root {
    --primary-color: #0066cc;
    --secondary-color: #00aaff;
    --background-color: #f0f8ff;
    --text-color: #333333;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-color);
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
}

nav ul li a, #scrape-button {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.5rem;
    transition: color 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
    padding: 0.5rem 1rem;
}

#scrape-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#scrape-button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.1);
}

nav ul li a:hover, nav ul li a.active {
    color: var(--primary-color);
    transform: scale(1.1);
}

nav ul li a.active {
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
    font-weight: 700;
}

main {
    padding-top: 80px; /* To account for the fixed header */
}

#map-container {
    position: relative;
    height: calc(100vh - 140px); /* Adjust for header and footer */
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
}

.custom-popup {
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem 0;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin-bottom: 1rem;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    #scrape-button {
        margin-top: 1rem;
    }

    #map-container {
        height: calc(100vh - 180px); /* Adjust for smaller screens */
    }
}